# Simulation
simulate = true
input_simulate = /Users/Ralf/Desktop/input
output_simulate = /Users/Ralf/Desktop/output
simulationClass = net.vrallev.hadoop.percentile.simulate.SimulationDefault
numbersAfterComma = 5
numberOfSimulations = 100
clearOutputFolder_simulate = true

# Analyze
analyze = true
input_analyze = /Users/Ralf/Desktop/output/results
output_analyze = /Users/Ralf/Desktop/output/percentile
simulationCount = /Users/Ralf/Desktop/output/total_simulation.txt
clearOutputFolder_analyze = true